body{
    width: 100%;
    min-height: 100%
}

.header{
    min-height: 100vh;
    width: 100%;
    background: black; 
    color: white;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

svg {
    display: block;
    font: 5em 'Montserrat';
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

.nav-links{
    text-align: right;
    background: #ce4e4a;
    padding: 10px 30px;
    width: 100%;
    border-bottom-radius: 18px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li a:hover{
    color: black;
}
.left-sidebar{
    width: 20%;
    height: 100;
    position: absolute;
    left: 0;
    top: 0;
    background: black;        
}
.imageDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.introText {
    color: black;
    font-family: "Times New Roman" !important;
    font-size: 10rem;
    padding-top: 30px;
    justify-content: right;
    margin-left: 10px;
    flex-wrap: wrap;
}
.card__content {
  position: absolute;
  /* other styles (left, top, right, and padding) */
  right: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 55;
}
.left-col img{
    width: 80%;
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}
 .left-col img:hover{
    filter: grayscale(1);
 }
 .right-col h1{
    font-style: 55px;
    font-weight: 600;
 }
 .right-col p{
    color: grey;
    margin: 20px 0 70px;
 }
 .social-media{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    justify-content: right;
 }
 .icon{
    width: 40px;
    height: 40px;
    background: red;
    align-items: center;
    display: flex;
    flex-basis: ;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    transition: transform 0.5s;
 }
 .icon i{
    width: 28px;
 }
 .icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
 }
 .icon a:hover{
    opacity: 1;
}
.icon:hover{
    transform: translate(-5px);
}